.input-finished {
  background-image: url(../res/done.png);
  background-repeat: no-repeat;
  background-size: 100%;
  background-color: #4E8D7F;
}

.text-finished {
  text-decoration: line-through;
}
